{% extends 'base.html' %}

{% load static %}

{% block title %} BikeComponents {% endblock %}

{% block content %}

    <div class=" mb-3 container-fluid">
         <div class=" list-in-line mb-3 text-primary text-center ">
            <img src="{% static 'logos/sram-xx1-logo.png' %}" width="5%" alt="FOX Racing">
            <img src="{% static 'logos/shimano-hd.png' %}" width="5%" alt="FOX Racing">
            <img src="{% static 'logos/fox_logo.png' %}" width="5%" alt="FOX Racing">
        </div>
        <div class="p-3 mb-2 bg-warning-subtle text-emphasis-warning">Aici vor fi filtrele( Price, newest, sort)</div>
        <div class="row">
            {% for component in components %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        {% if bikecomponents.image %}
                            <img src="{{ bikecomponents.image.url }}" class="card-img-top" alt="{{ bikecomponents.name }}">
                        {% endif %}
                        <div class="card-body ">
                            <h5 class="card-title">{{ bikecomponents.name }}</h5>
                            <p class="card-text">{{ bikecomponents.description }}</p>
                            {% if bikecomponents.special_price %}
                                <p class="card-text text-decoration-line-through">Price: ${{ bikecomponents.price }}</p>
                                {# cod pentru pret special #}
                                {% if bikecomponents.special_price %}
                                    <p><strong>Special Price:</strong> ${{ bikecomponents.special_price }}</p>
                                    {% if bikecomponents.special_price_valid_until %}
                                        <p><strong>Special Price Valid
                                            Until:</strong> {{ bikecomponents.special_price_valid_until }}</p>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <p class="card-text">Price: ${{ bicycle.price }}</p>
                            {% endif %}
                            <p class="card-text">Stock: {% if bicycle.stock %}In stoc{% else %}Out of
                                stock
                            {% endif %}</p>
                            <a href="#" class="btn btn-outline-primary"><strong>Add to basket</strong></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


