{% extends 'base.html' %}

{% load static %}

{% block title %} Checkout {% endblock %}

{% block content %}

    <div class="container-fluid">
        <br><br>
        <div class="p-3 mb-2 bg-warning-subtle text-emphasis-warning"></div>
        <div class="row">
            <div class="col-md-12">
                <h3>Checkout</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="cart-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Proceed to Payment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}