{% extends 'base.html' %}

{% load static %}

{% block title %}Open cart{% endblock %}

{% block content %}
    <div>
        {% for cart_item in cart.cartitem_set.all %}
            {{ cart_item }}<br>
        {% endfor %}
    </div>
    <div>
    {% if cart_item %}
      <ul>
        {% for cart_item in cartitem_set.all %}
          <li>{{ cart_item.bicycle.name }} - {{ cart_item.quantity }} x {{ cart_item.product.price }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Your cart is empty.</p>
    {% endif %}
  </div>
{% endblock %}


