{% extends 'base.html' %}

{% load static %}

{% block title %}Open cart{% endblock %}

{#{% block content %}#}
{#    <div>#}
{#        {% for cart_item in cart.cartitem_set.all %}#}
{#            {{ cart_item }}<br>#}
{#            <div class="card">#}
{#            {%  if product.image %}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}


{% block content %}
<div class="cart-container">
    <h4>Your Shopping Cart</h4>
    <div class="cart-items">
        {% if cart.cartitem_set.exists %}
            <ul class="cart-list">
                {% for cart_item in cart.cartitem_set.all %}
                    <ul class="cart-item">
                        <div class="item_image">
                            <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" width="400">
                        </div>
                        <div class="item-details">
                            <h5>{{ cart_item.product.name }}</h5>
                            <p>Price: {{ cart_item.product.price }}</p>
                            <p>Quantity: {{ cart_item.quantity }}</p>
                            <p>Total: {{cart_item.product.price}} * {{cart_item.quantity}}</p> {# |mul:cart_item.product.price  - for multiply #}
                        </div>
                        <div class="item-actions">
                            <a href="#">Remove</a>
                        </div>
                    </ul>
                {% endfor %}
            </ul>
            <div class="cart-total">
                <p>Total: {{ cart.total_price }}</p>
                <a href="#" class="checkout-button">Proceed to Checkout</a>
            </div>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
</div>
{% endblock %}


