{% extends 'base.html' %}

{% load static %}

{% block title %} BikerApparel {% endblock %}

{% block content %}

    <div class=" mb-3 container-fluid">
        <div class=" list-in-line mb-3 text-primary text-center ">
            <img src="{% static 'bicycle_images/enve-logo.png' %}" width="20%" alt="ENVE">
        </div>
        <div class="p-3 mb-2 bg-warning-subtle text-emphasis-warning">Aici vor fi filtrele( Price, newest, sort)</div>
        <div class="row">
            {% for apparel in apparels %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        {% if apparel.image %}
                            <img src="{{ apparel.image.url }}" class="card-img-top" alt="{{ apparel.name }}">
                        {% endif %}
                        <div class="card-body ">
                            <h5 class="card-title">{{ apparel.name }}</h5>
                            <p class="card-text">{{ apparel.description }}</p>
                            {% if apparel.special_price %}
                                <p class="card-text text-decoration-line-through">Price: ${{ apparel.price }}</p>
                                {# cod pentru pret special #}
                                {% if apparel.special_price %}
                                    <p><strong>Special Price:</strong> ${{ apparel.special_price }}</p>
                                    {% if apparel.special_price_valid_until %}
                                        <p><strong>Special Price Valid
                                            Until:</strong> {{ apparel.special_price_valid_until }}</p>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <p class="card-text">Price: ${{ apparel.price }}</p>
                            {% endif %}
                            <p class="card-text">Stock: {% if apparel.stock %}In stoc{% else %}Out of
                                stock
                            {% endif %}</p>
                            <a href="#" class="btn btn-outline-primary"><strong>Add to basket</strong></a>
                            <a href="#" class="btn btn-outline-secondary"><strong>Details</strong></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


